<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>899808518554-r0n55li36scp0i3ocj89lq3ks4e21rlq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.899808518554-r0n55li36scp0i3ocj89lq3ks4e21rlq</string>
	<key>API_KEY</key>
	<string>AIzaSyB-O0-SaPm_dxRL57xM0HHoJ7VXquK9TIQ</string>
	<key>GCM_SENDER_ID</key>
	<string>899808518554</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.FLPOrganizer.app</string>
	<key>PROJECT_ID</key>
	<string>flporganizer-176213</string>
	<key>STORAGE_BUCKET</key>
	<string>flporganizer-176213.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:899808518554:ios:8bd90361118adbf9</string>
	<key>DATABASE_URL</key>
	<string>https://flporganizer-176213.firebaseio.com</string>
</dict>
</plist>
